<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <script>
        /* 什么是Angular？
         AngularJS 使得开发现代的单一页面应用程序（SPAs：Single Page Applications）变得更加容易。
         AngularJS 把应用程序数据绑定到 HTML 元素。
         AngularJS 可以克隆和重复 HTML 元素。
         AngularJS 可以隐藏和显示 HTML 元素。
         AngularJS 可以在 HTML 元素"背后"添加代码。
         AngularJS 支持输入验证。
         * */

        /* AngularJS 属性以 ng- 开头，但是您可以使用 data-ng- 来让网页对 HTML5 有效。*/

        /*
         AngularJS 模块（Module） 定义了 AngularJS 应用。
         AngularJS 控制器（Controller） 用于控制 AngularJS 应用。
         ng-app指令定义了应用, ng-controller 定义了控制器。
         * */

        /* {{ expression }} 中间可放Javascript
         {{ 5 + 5 }} 或 {{ firstName + " " + lastName }}
         类似于 JavaScript 表达式，AngularJS 表达式可以包含字母，操作符，变量。
         与 JavaScript 表达式不同，AngularJS 表达式可以写在 HTML 中。
         与 JavaScript 表达式不同，AngularJS 表达式不支持条件判断，循环及异常。
         与 JavaScript 表达式不同，AngularJS 表达式支持过滤器。
         */

        /*
         AngularJS 通过 ng-directives 扩展了 HTML。
         ng-app 指令定义一个 AngularJS 应用程序, 在网页加载完毕时会自动引导（自动初始化）应用程序。
         ng-model 指令把元素值（比如输入域的值）绑定到应用程序。将输入域的值与 AngularJS 创建的变量绑定
         ng-bind 指令把应用程序数据绑定到 HTML 视图。
         * */
    </script>
    <style>
        /* ng-model 指令基于它们的状态为 HTML 元素提供了 CSS 类
         * ng-empty
         * ng-not-empty
         * ng-touched
         * ng-untouched
         * ng-valid
         * ng-invalid
         * ng-dirty
         * ng-pending
         * ng-pristine
         */
        input.ng-invalid {
            background-color:lightblue;
        }
    </style>
</head>
<body>

<!--<div ng-app="" ng-init="name='Michael';birth=19811128">-->
    <!--<p>名字 : <input type="text" ng-model="name"></p>-->
    <!--<h1>Hello {{name}}! </h1>-->
    <!--<h3>This is <span ng-bind="name"></span> born at {{birth}}</h3>-->
    <!--<p> 5 + 5 = {{5+5}}</p>-->
    <!--<hr>-->

<!-- ******************************************************************* -->

<div ng-app="myApp" ng-controller="myCtrl">
    <div ng-init="cal={var1:10,var2:20}"></div>
    <div ng-init="points=[10,20,30,40,50]"></div>
    <form name="myForm">
        <p>姓 <input type="text" ng-model="firstName"></p>
        <p>名 <input type="text" ng-model="lastName"></p>
        <!--<p>-->
        <!--ng-model是用于表单元素的，支持双向绑定。对普通元素无效；-->
        <!--ng-bind用于普通元素，不能用于表单元素，应用程序单向地渲染数据到元素；-->
        <!--当ng-bind和{{}}同时使用时，ng-bind绑定的值覆盖该元素的内容。-->
        <!--</p>-->
        <p>
            电子邮箱 <input type="email" name="myAddress" ng-model="text" required>
            <span ng-show="myForm.myAddress.$error.email" style="color:red;">不是一个合法的邮箱地址</span>
        </p>
        <p>Valid: {{myForm.myAddress.$valid}} (如果输入的值是合法的则为 true)</p>
        <p>Dirty: {{myForm.myAddress.$dirty}} (如果值改变则为 true)</p>
        <p>Touched: {{myForm.myAddress.$touched}} (如果通过触屏点击则为 true)</p>
        <p>Error: {{myForm.myAddress.$error}}</p>
        <br>
        <p>姓名： {{firstName + " " + lastName}}</p>
        <p>计算：<span ng-bind="cal.var1*cal.var2"></span> </p>
        <p>循环数组：
            <ul>
                <li ng-repeat="x in points"> {{x}} </li>
            </ul>
        </p>
    </form>
    <div>
        <ol>
            <li>
                <runoob-directive></runoob-directive>
            </li>
            <li>
                <div runoob-directive></div>
            </li>
            <li>
                <div class="runoob-directive"></div>
                <p><strong>注意：</strong> 你必须设置 <b>restrict</b> 的值为 "C" 才能通过类名来调用指令。</p>
            </li>
            <li>
                <!-- directive: runoob-directive -->
                <p><strong>注意：</strong> 我们需要在该实例添加 <strong>replace</strong> 属性， 否则评论是不可见的。</p>
                <p><strong>注意：</strong> 你必须设置 <b>restrict</b> 的值为 "M" 才能通过注释来调用指令。</p>
            </li>
        </ol>
    </div>
    <div style="margin-left:100px;color:black;border:1px dashed black;background-color:lightgrey;border-radius:3px;">
        <ul>
            restrict 值可以是以下几种:
            <li>
                E 作为元素名使用
            </li>
            <li>
                A 作为属性使用
            </li>
            <li>
                C 作为类名使用
            </li>
            <li>
                M 作为注释使用
            </li>
            restrict 默认值为 EA, 即可以通过元素名和属性名来调用指令。
        </ul>
    </div>
</div>

<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope){
        $scope.firstName = "John";
        $scope.lastName = "Doe";
    });

    // 创建自定义的指令
    // 使用驼峰法来命名一个指令， runoobDirective, 但在使用它时需要以 - 分割, runoob-directive:
    app.directive("runoobDirective", function () {
        return {
//            restrict: "M",
//            replace:true,
//            restrict: "C",
            template: "<span>这是自定义的指令</span>"
        };
    });
</script>
</body>
</html>