/* ================================
*  ExBoot v0.5
*  --------------------------------
*  design and development V.Brand
 ================================ */
/*
@import '../fonts/raleway.css';
@import url("../fonts/raleway.css");
@import url("../fonts/librebaskerville.css");
*/

/*=====================================
| Responsive Extensions
| ------------------------------------
| These features will expand bootstrap
| with extra responsive features such
| as margins and paddings
=================================---=*/

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
	/* custom margins */
	.addBottom-xs{margin-bottom:3px;}
	.addBottom-sm{margin-bottom:5px;}
	.addBottom-md{margin-bottom:10px;}
	.addBottom-lg{margin-bottom:15px;}
	.addBottom-xl{margin-bottom:20px;}
	.addBottom-xxl{margin-bottom:25px;}
	.addBottom-xxxl{margin-bottom:30px;}
	.addTop-xs{margin-top:3px;}
	.addTop-sm{margin-top:5px;}
	.addTop-md{margin-top:10px;}
	.addTop-lg{margin-top:15px;}
	.addTop-xl{margin-top:50px;}
	.addTop-xxl{margin-top:25px;}
	.addTop-xxxl{margin-top:30px;}
	 /* custom padding */
	.padTop-xs{padding-top:3px;}
	.padTop-sm{padding-top:5px;}
	.padTop-md{padding-top:10px;}
	.padTop-lg{padding-top:15px;}
	.padTop-xl{padding-top:20px;}
	.padTop-xxl{padding-top:25px;}
	.padTop-xxxl{padding-top:30px;}
	.padBottom-xs{padding-bottom:3px;}
	.padBottom-sm{padding-bottom:5px;}
	.padBottom-md{padding-bottom:10px;}
	.padBottom-lg{padding-bottom:15px;}
	.padBottom-xl{padding-bottom:20px;}
	.padBottom-xxl{padding-bottom:25px;}
	.padBottom-xxxl{padding-bottom:30px;}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
	/* custom margins */
	.addBottom-xs{margin-bottom:5px;}
	.addBottom-sm{margin-bottom:10px;}
	.addBottom-md{margin-bottom:15px;}
	.addBottom-lg{margin-bottom:20px;}
	.addBottom-xl{margin-bottom:25px;}
	.addBottom-xxl{margin-bottom:30px;}
	.addBottom-xxxl{margin-bottom:50px;}
	.addTop-xs{margin-top:3px;}
	.addTop-sm{margin-top:5px;}
	.addTop-md{margin-top:10px;}
	.addTop-lg{margin-top:15px;}
	.addTop-xl{margin-top:50px;}
	.addTop-xxl{margin-top:25px;}
	.addTop-xxxl{margin-top:30px;}
	 /* custom padding */
	.padTop-xs{padding-top:3px;}
	.padTop-sm{padding-top:5px;}
	.padTop-md{padding-top:10px;}
	.padTop-lg{padding-top:15px;}
	.padTop-xl{padding-top:20px;}
	.padTop-xxl{padding-top:25px;}
	.padTop-xxxl{padding-top:30px;}
	.padBottom-xs{padding-bottom:3px;}
	.padBottom-sm{padding-bottom:5px;}
	.padBottom-md{padding-bottom:10px;}
	.padBottom-lg{padding-bottom:15px;}
	.padBottom-xl{padding-bottom:20px;}
	.padBottom-xxl{padding-bottom:25px;}
	.padBottom-xxxl{padding-bottom:30px;}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {
	/* custom margins */
	.addBottom-xs{margin-bottom:10px;}
	.addBottom-sm{margin-bottom:20px;}
	.addBottom-md{margin-bottom:30px;}
	.addBottom-lg{margin-bottom:40px;}
	.addBottom-xl{margin-bottom:50px;}
	.addBottom-xxl{margin-bottom:80px;}
	.addBottom-xxxl{margin-bottom:120px;}
	.addTop-xs{margin-top:10px;}
	.addTop-sm{margin-top:20px;}
	.addTop-md{margin-top:30px;}
	.addTop-lg{margin-top:40px;}
	.addTop-xl{margin-top:50px;}
	.addTop-xxl{margin-top:80px;}
	.addTop-xxxl{margin-top:120px;}
	 /* custom padding */
	.padTop-xs{padding-top:10px;}
	.padTop-sm{padding-top:20px;}
	.padTop-md{padding-top:30px;}
	.padTop-lg{padding-top:40px;}
	.padTop-xl{padding-top:50px;}
	.padTop-xxl{padding-top:80px;}
	.padTop-xxxl{padding-top:120px;}
	.padBottom-xs{padding-bottom:10px;}
	.padBottom-sm{padding-bottom:20px;}
	.padBottom-md{padding-bottom:30px;}
	.padBottom-lg{padding-bottom:40px;}
	.padBottom-xl{padding-bottom:50px;}
	.padBottom-xxl{padding-bottom:80px;}
	.padBottom-xxxl{padding-bottom:120px;}
}


/*--- custom link ---*/
a.a-reset, a.a-clear:visited, a.a-clear:active{color:#000;text-decoration:none;}
a.a-rest:hover{color:#000;text-decoration:none;}
a.a-clear:link, a.a-clear:visited, a.a-clear:active{color:#000;text-decoration:none;}
a.a-clear:hover{color:#b69f67;text-decoration:none;}
a.link-white{color:#fff;}

/*===   TEXT EFFECTS  ===*/
/* Extend Font Classes */
/* text classes */
.text-reset{all:unset;}
.text-inline{display:inline-block;}
.text-base{color:#b69f67;}
.text-base-color{color:#b69f67;}
.text-white{color:#fff}
.text-black{color:#000;}
.text-caps{text-transform:uppercase;}
.text-lowercase{text-transform:lowercase;}
.text-i{font-style:italic;}
.text-b{font-weight:bold;}
/* line heights */
.text-lh-05{line-height:0.5em;}
.text-lh-1{line-height:1em;}
.text-lh-15{line-height:1.5em;}
.text-lh-2{line-height:2em;}
.text-lh-25{line-height:2.5em;}
.text-lh-3{line-height:3em;}
/* text sizes em fluid*/
.text-size-04{fonts-size:0.4em;}
.text-size-05{fonts-size:0.5em;}
.text-size-06{fonts-size:0.6em;}
.text-size-07{fonts-size:0.7em;}
.text-size-08{fonts-size:0.8em;}
.text-size-09{fonts-size:0.9em;}
.text-size-10{fonts-size:1em;}
.text-size-11{fonts-size:1.1em;}
.text-size-12{fonts-size:1.2em;}
.text-size-13{fonts-size:1.3em;}
.text-size-14{fonts-size:1.4em;}
.text-size-15{fonts-size:1.5em;}
.text-size-16{fonts-size:1.6em;}
.text-size-17{fonts-size:1.7em;}
.text-size-18{fonts-size:1.8em;}
.text-size-19{fonts-size:1.9em;}
.text-size-20{fonts-size:2em;}
.text-size-22{fonts-size:2.2em;}
.text-size-24{fonts-size:2.4em;}
.text-size-26{fonts-size:2.6em;} 
.text-size-28{fonts-size:2.8em;} 
.text-size-3{fonts-size:3em;}
/* text sizes px fixed*/
.text-size-9px{fonts-size:9px;}
.text-size-10px{fonts-size:10px;}
.text-size-11px{fonts-size:11px;}
.text-size-12px{fonts-size:12px;}
.text-size-13px{fonts-size:13px;}
.text-size-14px{fonts-size:14px;}
.text-size-15px{fonts-size:15px;}
.text-size-16px{fonts-size:16px;}
.text-size-18px{fonts-size:18px;}
.text-size-20px{fonts-size:20px;}
.text-size-22px{fonts-size:22px;}
.text-size-24px{fonts-size:24px;}
.text-size-26px{fonts-size:26px;}
.text-size-28px{fonts-size:28px;}
.text-size-32px{fonts-size:32px;}


/* font families */
.font-raleway{font-family:"Raleway";}
.font-libre{font-family:"Libre Baskerville";}
/*===   TEXT EFFECTS  ===*/
.text-shadow{
    -webkit-text-shadow: 1px 3px 0 rgba(0,0,0,0.5);
    -moz-text-shadow: 1px 3px 0 rgba(0,0,0,0.5);
    text-shadow: 1px 3px 0 rgba(0,0,0,0.5);
}
.text-shadow-flat{
    -webkit-text-shadow: 0px 1px 0 rgba(0,0,0,0.5);
    -moz-text-shadow: 0px 1px 0 rgba(0,0,0,0.5);
    text-shadow: 0px 1px 0 rgba(0,0,0,0.5);
}
/*===   EXTENDING CLASSES   ===*/
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
/*===   COMPONENTS   ===*/


.divider{width:100%;height:20px;display:inline-block;border-bottom:1px solid #000;}

.border-bottom{
	border-bottom:1px solid #ccc;
}

.border{
	border:1px solid #000;
}


font-family: 'Libre Baskerville', "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", Georgia, serif;
font-family:'Raleway',Helvetica, Arial, "新宋体",NSimSun, "华文黑体",STHeiti, Helvetica, Arial, sans-serif;
